h1, h3{
    text-align: center;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


article {
    background-color: #f9f9f9;
    padding: 10px;
}

aside {
    background-color: #f9f9f9;
    padding: 40px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto; 
    max-width: 1200px; 
}

p{
    font-size: 18px;
}

#kartina1 {  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 300px;
    height: 300px;
    border: 1px solid white;
}

.elem{
    border: 3px solid black;
}

#e1 { 
    grid-column: 1 / 3;
    grid-row: 1 / 2 ;
    background-color: #D30405;
}  
#e2 { 
    grid-column: 3 / 4;
    grid-row: 1 / 2 ;
}  
#e3 { 
    grid-column: 4 / 5;
    grid-row: 1 / 2 ;
}  
#e4 { 
    grid-column: 5 / 6;
    grid-row: 1 / 2 ;
}  
#e5 { 
    grid-column: 1 / 3;
    grid-row: 2 / 3 ;
}  
#e6 { 
    grid-column: 3 / 5 ;
    grid-row: 2 / 3 ;
}  
#e7 { 
    grid-column: 5 / 6 ;
    grid-row: 2 / 4 ;
}  
#e8 { 
    grid-column: 1 / 3 ;
    grid-row: 3 / 4;
}  
#e9 { 
    grid-column: 1 / 3;
    grid-row: 4 / 5 ;
    background-color: black;
}  
#e10 { 
    grid-column: 5 / 6;
    grid-row: 4 / 6;
    background-color: #E6CC01;
}  
#e11 { 
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    background-color: #0062A8;
}  
#e12 { 
    grid-column: 3 / 5;
    grid-row: 5 /7 ;
    background-color: #D30405;
}  
#e13 {
    grid-column: 1 / 2 ;
    grid-row: 5 / 7;
    background-color: #E6CC01;
}  
#e14 { 
    grid-column: 2 / 3;
    grid-row: 5 / 7;
}  
#e15 { 
    grid-column: 5 / 6;
    grid-row: 6 / 7;
}


#kartina2 {  
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.3fr 50px;
    grid-template-rows: 30px repeat(2, 1fr) 50px;
    width: 300px;
    height: 300px;
    border: 1px solid white;
}

#ele1{
    grid-column: 1 /3;
    grid-row: 1 / 2;
}
#ele2{
    grid-column: 3 / 4 ;
    grid-row: 1 / 2;
}
#ele3{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-color: black;
}
#ele4{
    grid-column: 1 / 2;
    grid-row: 2 / 3 ;
}
#ele5{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#ele6{
    grid-column: 3 / 5;
    grid-row: 2 / 4 ;
    background-color: #0062A8;
}
#ele7{
    grid-column: 1 / 3;
    grid-row: 3 / 4 ;
    background-color: #E6CC01;
}
#ele8{
    grid-column: 1 / 2 ;
    grid-row: 4 / 5 ;
}
#ele9{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: black;
}
#ele10{
    grid-column: 3 / 5 ;
    grid-row: 4 / 5 ;
}


#kartina3 {  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25px repeat(2, 1fr) 60px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}


#el1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
#el2{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    background-color: #E6CC01;
}
#el3{
    grid-column: 1 / 3;
    grid-row: 2 / 4 ;
    background-color: #D30405;
}
#el4{
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    background-color: #E6CC01;
}
#el5{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
#el6{
    grid-column: 4 / 5;
    grid-row: 3 / 4 ;
}
#el7{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background-color: black;
}
#el8{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
#el9{
    grid-column: 3 / 5;
    grid-row: 4 / 5;
}


