@keyframes anim{
    from{margin-left:3px;}
    to{margin-left:500px;}
   }
   
   @keyframes color{
    from{background-color: red;}
    to{background-color: yellowgreen;}
   }
   
   @keyframes kvadr{
    0%{margin-left: 0%; margin-top: 0%;}
    25%{margin-left: 70%; margin-top: 0%;}
    50%{margin-left: 70%; margin-top: 70%;}
    75%{margin-left: 0%; margin-top: 70%;}
    100%{margin-left: 0%; margin-top: 0%;}
   }

   @keyframes move{
    0%{margin-left: 2px;}
    50%{margin-left: 500px;}
    100%{margin-left: 2px;}
   }



   @keyframes move2{
	from{
		margin-left: 0px;
	}
	to{
		margin-left: 400px;
	}
}



   @keyframes bouncing{
	40%, 70%, 90%{
		animation-timing-function: ease-out;
		bottom: 0;
	}
	0%{
		bottom: 200px;
		left: 0;
		animation-timing-function: ease-in;
	}
	55%{
		bottom: 50px;
		animation-timing-function: ease-in;
	}
	80%{
		bottom: 25px;
		animation-timing-function: ease-in;
	}
	95%{
		bottom: 10px;
		animation-timing-function: ease-in;
	}
	100%{
		left: 110px;
		bottom: 0;
		animation-timing-function: ease-out;
	}
}


@keyframes test{
	0%{width: 0%;}
	100%{width: 100%;}
}

@keyframes test2{
	0%{width: 0%;}
	100%{width: 50%;}
}


@keyframes anim8{
   0%{left: 0%;}
	100%{left: 100%;}
}

@keyframes anim8_2{
   0%{margin-left: 0%;}
   50%{margin-left: 100%;}
	100%{margin-left: 0%;}
}

   
   
   #d1{
    animation:anim 4s 3;
   }
   #d1{
   width: 50px;
   height: 50px;
   border: 1px solid red;
   }
   
   #d2{
    animation:anim 4s infinite;
   }
   #d2{
   width: 50px;
   height: 50px;
   border: 1px solid red;
   margin-top: 35px;
   }
   
   #d3{
    animation:color 4s infinite;
   }
   #d3{
   width: 100px;
   height: 100px;
   background-color: red;
   }
   
   #d4{
    animation: kvadr 8s linear 30;
   }
   #d4{
   width: 50px;
   height: 50px;
   border: 1px solid red;
   }
   
.border{
      border: 1px solid black;
      width: 250px;
      height: 250px;
}

.kvadr{
   width: 100px;
   height: 100px;
   overflow: hidden;
}

#d5{
   animation-name: kvadr, color;
   animation-duration:6s, 3s;
   animation-iteration-count: infinite, infinite;
   animation-timing-function: linear, ease;

}
#d5{
   width: 50px;
   height: 50px;
   border: 1px solid;
}
  

#d6{
   animation-duration:3s;
   animation-name: move;
   border: 1px solid red;
   width: 50px;
   height: 50px;
   animation-iteration-count: infinite;
}

#d6_2{
	animation-direction: alternate;
	animation-duration:3s;
	animation-name: move2;
	animation-iteration-count: infinite;
	animation-timing-function:linear;
	border: 1px solid red;
	width: 50px;
	height: 50px;
}


#wrapper7{
	margin: 0px auto;
	width: 50%;
	height: 30px;
   border: 1px solid red;
}
#d7{
	background: red;
	width: 0%;
	height: 30px;
	animation:test 5s infinite;
}

#wrapper7_2{
	width: 50%;
	height: 30px;
   border: 1px solid red; 
}

#d7_2{
	background: red;
	width: 0%;
	height: 30px;
	-webkit-animation:test2 5s infinite;
	animation:test2 5s infinite;
}


#d8 {
   width: 50px;
   height: 50px;
   border: 1px solid red;
   position: relative;
   animation: anim8 20s linear infinite;
   animation-play-state: paused;
}

#d8:hover {
   animation-play-state: running;
}

#d8_2 {
   margin-top: 50px;
   width: 200px;
   height: 35px;
   border: 1px solid red;
}

#d8_3 {
   width: 400px;
   height: 60px;
   margin-top: 10px;
   border: 1px solid blue;
   animation: anim8_2 10s linear infinite;
   animation-play-state: paused;
}

#d8_2:hover ~ #d8_3 {
   animation-play-state: running;
}

.dashed-border-box {
   border: 2.5px dashed gray;
   padding: 20px;
   margin: 20px;
   position: relative;
   font-size: 18px;
   text-align: justify;
}

#wrapper9{
	margin: 0px;
	width: 220px;
	height: 220px;
	border: 1px solid red;
	position: relative;
}
#d9{
	background: red;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	animation: bouncing 5s infinite;
}
