body{
	width:800px;
	background-color:#E0FFFF;
	font-size:16px;
	font-family:Arial;
	padding:auto;
	margin:auto;
}
p{
	color:red;
	letter-spacing:5px;
}
.cursiv{
	font-style:italic;
	text-decoration:underline;
}

