.border-box {
    border: 1.5px solid gray;
    padding: 20px;
    margin: 20px; 
    width: 50%;
    position: relative;
    font-size: 18px;
    padding-bottom: 40px;
    text-align: justify;
}

h1 {
    color: blue;
}

a {
    text-decoration: none;
    float: right;
    color: blue;
}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid #000000;
}