.dashed-border-box {
    display: flex;
    border: 2px dotted gray;
    padding: 20px;
    margin: 20px; 
    width: 92%;
    height: auto; 
    position: relative;
}

/*-------------------------------------------*/

.menu1 {
	color: blue; 
	list-style-position: inside;}
.menu1 a:link, .menu1 a:visited{
	text-decoration: none;
	color: blue;
	font: 13px Arial;
	}
.menu1 a:hover{
	text-decoration: underline;
	color: red;
}

.image-container {
    flex-grow: 1; 
    display: flex;
    justify-content: flex-end; 
    padding-top: 15px;
}

img {
    height:100px ; 
    max-width: auto; 
}

/*-------------------------------------------*/

.menu2 {list-style-type: none; width: 200px}
.menu2 li{margin-bottom: 5px;}
.menu2 a:link, .menu2 a:visited{
	text-decoration: none;
	color: blue;
	font: 13px Arial;
	border: 1px solid blue;
	display: block;
	padding: 0px 5px;
	line-height: 30px;
}
.menu2 a:hover{
font-weight: bold
}

/*-------------------------------------------*/

.menu3 {list-style-type: none; width: 200px}
.menu3 li{margin-bottom: 5px;}
.menu3 a:link, .menu3 a:visited{
	text-decoration: none;
	color: white;
	font: 13px Arial;
	border: 1px solid black;
    background-color: #484848;
	display: block; 
	padding: 0px 5px;
	line-height: 30px;
    font-weight: bold;
}

.menu3 a:hover {
    background-color: white;
    color: black;
}

/*-------------------------------------------*/

.menu4 {list-style-type: none; width: 200px}
.menu4 li{margin-bottom: 5px;}
.menu4 a:link, .menu4 a:visited{
	text-decoration: none;
	color: white;
	font: 13px Arial;
	border: 1px solid #0072d1;
    background-color: #0072d1;
	display: block; 
	padding: 0px 5px;
	line-height: 30px;
    font-weight: bold;
}

.planeIcon {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 5px;
}

.menu4 a:hover {
    background-color: white;
    color: #2200ff;
}

/*-------------------------------------------*/

.menu5 {list-style-type: none;}
.menu5 li{margin-right: 4px; float: left;}
.menu5 a:link, .menu5 a:visited{
	text-decoration: none;
	color: blue;
	font: 13px Arial;
	border: 1px solid #1A31A2;
	padding: 5px;
}
.menu5 a:hover, .menu5 a.active{
	color: red;
}

/*-------------------------------------------*/

.menu6 {list-style-type: none;}
.menu6 li{margin-right: 4px; float: left;}
.menu6 a:link, .menu6 a:visited{
	text-decoration: none;
	color: blue;
	font: 13px Arial;
	border: 1px solid #1A31A2;
	padding: 5px;
}
.menu6 a:hover, .menu6 a.active{
	color: white;
    background-color: #484848;
    border: 1px solid #484848;
}

/*-------------------------------------------*/

.tabletka {
	width: 45%;
	font: 13px Arial;
}

td {
	text-align: center;
}

td:hover {
	color: #21c6ff;
}

.icon {
	width: 50px;
	height: 50px;
}

.icon:hover {
	filter: invert(59%) sepia(1) saturate(500%) hue-rotate(170deg);
}

/*-------------------------------------------*/

.menu7 {
	list-style-type: none; 
	display: flex;
	background-color: #fc9d00;
	padding: 10px;
	width: 100%;
}
.menu7 a:link, .menu7 a:visited{
	text-decoration: none;
	color: white;
	font: 13px Arial;
	padding: 10px 20px;
	padding-top: 13px;
	padding-bottom: 11px;
}
.menu7 a:hover, .menu7 a.active{
	color: white;
    background-color: #e93301;
} 

/*-------------------------------------------*/

.calendar {
	font: 13px Arial;
	color: #5b5b5b;
}

.weekdays {
	font-weight: 500;
    display: flex;
    justify-content: space-between;
	border-bottom: solid 1px black;
    margin-bottom: 5px;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 27px);
}

span {
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.dates span:hover {
    color: red;
}

.holiday {
	color: #b0c7e7;
}